In [21]:
import pandas as pd
dataset=pd.read_csv("C:/Users/kamal/Downloads/employee_salaries_with_outliers.csv")
dataset.head()

   Employee_ID  Salary
0            1   45795
1            2   30860
2            3   68158
3            4   74732
4            5   41284

In [22]:
import numpy as np
dataset["Salary"]=dataset["Salary"].sort_values()
q1=np.percentile(dataset["Salary"],25,interpolation='midpoint')
q2=np.percentile(dataset["Salary"],50,interpolation='midpoint')
q3=np.percentile(dataset["Salary"],75,interpolation='midpoint')

In [23]:
iqr=q3-q1

In [24]:
low_lim=q1-iqr*1.5
up_lim=q3+iqr*1.5

In [29]:
outlier=[]
for i in dataset["Salary"]:
    if i<low_lim or i>up_lim:
        outlier.append(i)
        
print(outlier)

[250000, 220000, 300000]